doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.page-caption__invert.indent-block__full
					.container
						p Мы делаем: 
						.row 
							.col-lg-6.col-12
								h1 Контекстная реклама
							.col-lg-6.col-12
								p.info Управление контекстной рекламой — одно из наших главных направлений. Работаем со всеми форматами Яндекс.Директа, Google Ads, прайс-площадками и малыми сетями. Отлаживаем автоматизированные кампании для е-commerce и сервисов. Настраиваем поиск клиентов для клиник, промпредприятий, консалтинговых компаний и других поставщиков услуг/товаров со сложным циклом продажи.					
				.seo-case
					.seo-case__image.image-full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							img(src="assets/images/seo-4.png", alt="")
					.block-ad.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container
							h2 Что мы можем сделать?
							ol.list 
								li Настройка качественной РК в Яндекс.Директ.
								li Вывод нового продукта/услуги на рынок.
								li Увеличение повторных продаж.
								li Увеличение целевого трафика на сайт.
								li Расширение географии сбыта.

					.seo-case__company.seo-case__company_gray.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Как мы создаем кампании?
								.col-md-6.col-12
									p В первую очередь мы проведем аудит сайта и анализ конкурентов. Далее соберем до 1 000 сегментированных под каждую компанию ключевых фраз. Так же не забудем про кросс-минусовку ключевых фраз, поможем написать продающие тексты, настроим UTM метки.
									p Останется лишь настроить визитку и цели в Яндекс.Метрике, что бы успешно пройти модерацию.
					.block-ad-text.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container
							h2 Докручиваем Яндекс.Директ.
							.row 
								.col-md-6.col-12
									p.caption Первая неделя
									p В течение первой недели мы постоянно отслеживаем количество и качество приходящего трафика, работаем над повышением CTR кампании. Проводим А/В тест объявлений с низким CTR.
									p Ежедневная корректировка ставок (2 раза в день), отключение площадок с низким качеством трафика и настройка ретаргетинга.
								.col-md-6.col-12
									p.caption Со второй по четвертую неделю
									p После первой недели чистим трафик, вносим дополнительные минус слова. Отслеживаем конверсионные и низкоконверсионные объявления, а так же проводим А/В тестирование с целью выявления средней конверсии сайта. Так же добавляем новые ключевые фразы в кампанию, отключаем объявления и фразы, сливающие бюджет.
									p Проанализируем воронку продаж и порекомендуем стратегии по увеличению конверсии, а после добавим новые объявления в кампанию.
					.seo-case__image.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							img(src="assets/images/seo-5.png", alt="")
					.web-dev__steps.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")  
						.container 
							h2 Гарантированные обязательства <br/>с нашей стороны.
							.web-dev__steps_block 
								.web-dev__steps_item 
									img(src="assets/images/icon-6.png", alt="")
									p.caption Создание 2х рекламных кампаний в течение 7 дней.
									p В течение месяца докрутка этих рекламных кампаний.
								.web-dev__steps_item 
									img(src="assets/images/icon-7.png", alt="")
									p.caption Достижение максимальной конверсии и ROI.
									p Постоянный поток качественного трафика в рамках выделенного бюджета.
							.web-dev__steps_block 
								.web-dev__steps_item 
									img(src="assets/images/icon-8.png", alt="")
									p.caption Ежемесячные отчеты.
									p Вы сможете сами отслеживать динамику изменений.
					include modules/projects-seo
					include modules/clients
					.container
						include modules/reviews
					include modules/faq					
					
			include modules/footer

