doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.indent-block__full
					.container 
						h1 Блог.
						p Рассказываем о самом важном. 
				.container 
					.blog
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-1.png", alt="")  
							a.link(href="#") Разбор интерфейса Clubhouse.
							p Насколько он помогает получать качественный контент (спойлер: плохо).
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-2.png", alt="")  
							a.link(href="#") Обновления GDPR.
							p Продолжение с фокусом на способы запроса согласия на cookies.
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-3.png", alt="")  
							a.link(href="#") Стоит оставлять поисковой запрос поля поиска в интернет-магазинах.
							p Это помогает уточнить выборку. 
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-4.png", alt="")  
							a.link(href="#") Интернет-магазин на диване.
							p Когда кто-то рассказывает о товарах на видео.
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-5.png", alt="")  
							a.link(href="#") Упрощение частей интерфейса в кризисной ситуации пандемии.
							p Многие из владельцев жилья предоставляли его медикам и другим людям в повышенном стрессе, так что даже вроде бы обычные паттерны могли раздражать их.
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-4.png", alt="")  
							a.link(href="#") Интернет-магазин на диване.
							p Когда кто-то рассказывает о товарах на видео.
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-5.png", alt="")  
							a.link(href="#") Упрощение частей интерфейса в кризисной ситуации пандемии.
							p Многие из владельцев жилья предоставляли его медикам и другим людям в повышенном стрессе, так что даже вроде бы обычные паттерны могли раздражать их.
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-6.png", alt="")  
							a.link(href="#") Анализ реакции инвестиционного приложения Robinhood на кризисную ситуацию
							p Хотя под угрозой был бизнес сервиса, удар по доверию пользователей был жёстким. Автор предлагает интерфейсные улучшения, которые смягчили бы ситуацию.
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-1.png", alt="")  
							a.link(href="#") Разбор интерфейса Clubhouse.
							p Насколько он помогает получать качественный контент (спойлер: плохо).
						.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
							a(href="#")
								img(src="assets/images/blog-2.png", alt="")  
							a.link(href="#") Обновления GDPR.
							p Продолжение с фокусом на способы запроса согласия на cookies.
					.page-more.indent-block__full
						a.more(href="#") Загрузить еще
			include modules/footer

