doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.page-caption__invert.indent-block__full
					.container 
						h1 Контекстное продвижение сайта fitness-family.ru
				.seo-case
					.seo-case__image.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						img(src="assets/images/seo-3.png", alt="")
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 О компании
								.col-md-6.col-12
									p Fitness Family — это петербургская сеть семейных спортивных клубов. Они пришли к нам за помощью с позиционированием и привлечением новых клиентов. Для них мы уже сделали новый сайт. В этой статье расскажем, как поэтапно проводили 	
										a(href="#") рекламную кампанию.
					.seo-case__result.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-lg-6.col-12
									h2 Результат:
								.col-lg-6.col-12
									.row 
										.col-md-6.col-12
											.work-odds__item
												strong +23%
												p выросло количество конверсий
										.col-md-6.col-12
											.work-odds__item
												strong x2
												p снизили стоимость СРА
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Цели:
								.col-md-6.col-12
									p Помочь Fitness Family разобраться с позиционированием, услугами и привлечением новых клиентов через сайт. Проект меняется, а сайт тянет назад. Компания должна заявлять о себе по-новому, выглядеть современнее и получать больше заявок в отдел продаж.
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Стратегия РК:
								.col-md-6.col-12
									ol.list 
										li Охват существующего спроса на услугу;
										li Поиск новой аудитории.
					.seo-case__stages.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							h2 Этапы работ:
							.seo-case__stages_block
								.row 
									.col-lg-5.col-md-6.col-12
										.seo-case__stages_caption
											p.caption Выделяем целевую аудиторию и УТП услуг
											p Заказчик пришёл подготовленный, что чрезвычайно упростило нам работу.	
									.col-lg-7.col-md-6.col-12
										.seo-case__stages_item 
											p.caption Социально-демографические характеристики ЦА:
											p Семейные;
											p Средний возраст 40 лет;
											p Работающие.
										.seo-case__stages_item 
											p.caption Критерий выбора:
											p Близость к работе/дому (30 минут);
											p Набор услуг;
											p Пробное посещение.
										.seo-case__stages_item 
											p.caption УТП услуг:
											p Семейный фитнес;
											p Можно прийти с ребёнком и оставить на время в надёжных руках;
											p Пробное бесплатное занятие;
							.seo-case__stages_block
								.row 
									.col-lg-5.col-md-6.col-12
										.seo-case__stages_caption
											p.caption Подбираем семантику
											p Семантику собирали по следующим направлениям:
									.col-lg-7.col-md-6.col-12
										.seo-case__stages_item 
											p.caption Фразы, которые содержат «фитнес клуб» и транзакционные слова:
											p «абонемент», «пробное», «разовое занятие», «гостевой визит», «цены» и т.д.
										.seo-case__stages_item 
											p.caption Фразы, которые содержат «фитнес клуб» и слова с геопривязкой:
											p «рыбацкое», «кондратьевское», «типанова» и т.д.
										.seo-case__stages_item 
											p.caption Фразы с запросами, которые указывают на возраст и пол:
											p «фитнес-клуб для женщин» и т.д.
										p.info Ключевые фразы из первой и второй группы использовали в РК с таргетингом на весь город. Третью группу использовали в РК с таргетингом на радиусы.
							.seo-case__stages_block
								.row 
									.col-lg-5.col-md-6.col-12
										.seo-case__stages_caption
											p.caption Запускаем первые объявления
											p На этом этапе мы решили не запускать категорийные запросы по видам услуг: «бассейн», «тренажерный зал», «единоборства», «сайкл», пока не будет соответствующих разделов на новом сайте.
									.col-lg-7.col-md-6.col-12
										.seo-case__stages_item 
											p.caption Собрали основные группы объявлений
											p Из первого семантического направления сформировалась РК с транзакционными запросами, из второго — РК с запросами с геопривзякой.
										.seo-case__stages_item 
											p.caption Создали сегменты на основе геолокаций
											p Установили радиус 2 км вокруг филиала — возможные посетители преодолеют такое расстояние до клуба в пределах 30 минут. Выделили группы фраз с местами расположения филиалов клуба. В настройках кампаний для сегментов по геолокациям применили повышающую корректировку.
							.seo-case__stages_block
								.row 
									.col-lg-5.col-md-6.col-12
										.seo-case__stages_caption
											p.caption Снижаем влияние на органику
											p Проанализировали результаты и обнаружили, что в «Яндекс.Директе» доля показов в спецразмещении достигла 99% — реклама показывается практически всегда.
									.col-lg-7.col-md-6.col-12
										.seo-case__stages_item 
											p.caption Настроили стратегии брендовых РК
											p Установили цену конверсии 30 руб., затем уменьшили вдвое. Доля показов снизилась до 60%, но мы добились выдачи в топе в моменты максимальной конверсионности.
										.seo-case__stages_item 
											p.caption Протестировали автостратегии на брендовых РК
											p Убедились в их эффективности. Достигли желаемого CPA в пределах ±20%. Поставили цель перевести все РК на автостратегии.
					.media.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row
								.col-lg-6.col-12
									h2 Медийные РК
									p В июне стало возможно создать в интерфейсе «Яндекс.Директ» медийные кампании. Сразу настроили группу объявлений на интерес «Фитнес».
								.col-lg-6.col-12
									.media-image 
										img(src="assets/images/media-1.png", alt="")
										img(src="assets/images/media-2.png", alt="")
										img(src="assets/images/media-3.png", alt="")
					.seo-case__dynamics.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							h2 Коэффициент конверсии за полгода, %
							.seo-case__dynamics_graph-full
								.designation
									.designation-item
										.circle(style="background:#FFA70D")
										p Яндекс.Директ
									.designation-item
										.circle(style="background:#2D2D2D")
										p Google Adwords
								.image
									img(src="assets/images/graph-4.png", alt="")
					.seo-case__dynamics.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							h2 CPA за полгода, руб.
							.seo-case__dynamics_graph-full
								.designation
									.designation-item
										.circle(style="background:#FFA70D")
										p Яндекс.Директ
									.designation-item
										.circle(style="background:#2D2D2D")
										p Google Adwords
								.image
									img(src="assets/images/graph-5.png", alt="")
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Дальнейшее развитие
								.col-md-6.col-12
									p Продолжаем развивать функционал сайта. Готовим к запуску раздел «Тренеры». Для нового раздела проводим масштабную фотосессию — отснимем больше ста тренеров в трех клубах клиента.
									p Осенью и зимой нарастим обороты по рекламе: будем постепенно увеличивать долю показов по небрендированным и транзакционным запросам, расширять семантику, оптимизировать кампании и перераспределять ресурсы между каналами. Наша цель — рост заявок по оптимальной для бизнеса стоимости.
									p Тестируем новый канал — таргетинг в социальных сетях Завершаем разработку SMM-стратегии. Поможем клиенту вести социальные сети.
					.seo-case__reviews.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-4.col-12
									h2 Отзыв клиента:
								.col-md-8.col-12
									.reviews-block
										p «Компания "Альготек" благодарит компанию "Лоджиклауд" за првоедение эффективной рекламной кампании в сети Интернет. За год сотрудничества компании "Лоджиклауд" удалось увеличить поток входящих заявок к сайта на 15%. Компания зарекомендовала себя как надежный партнер, который умеет оперативно и качественно выполнять поставленные задачи. Также стоит отметить высокий уровень клиентоориентированности компании. Желаем вам и дальше столь же успешно достигать поставленных целей!»
										.reviews-block__info 
											.reviews-block__info_text 
												p Карелин Н. В.
												p Генеральный директор ООО "Альготек"
											.reviews-block__info_button 
												a.link(href="assets/images/sert-1.png" data-fancybox="" data-caption="Название") Оригинал письма
							.page-more.indent-block__full
								a.more(href="#") Следующий проект				

			include modules/footer

