doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				include modules/main-banner
				include modules/services-main
				include modules/projects
				.work-odds.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
					.container 
						.row 
							.col-sm-4.col-6
								.work-odds__item 
									strong 2013
									p Работаем с 2013 года
							.col-sm-4.col-6
								.work-odds__item 
									strong Bitrix
									p Золотой партнер 1С-Битрикс
							.col-sm-4.col-6
								.work-odds__item 
									strong 200+
									p успешно выполненных проектов

				include modules/partners
				
				.projects.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
					.container
						h2 Рассказываем о самом важном
						a.projects-link(href="#") Блог
							img(src="assets/images/arrow-yellow.svg", alt="")
						.blog
							.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
								a(href="#")
									img(src="assets/images/blog-1.png", alt="")  
								a.link(href="#") Разбор интерфейса Clubhouse.
								p Насколько он помогает получать качественный контент (спойлер: плохо).
							.blog-item.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
								a(href="#")
									img(src="assets/images/blog-2.png", alt="")  
								a.link(href="#") Интернет-магазин на диване.
								p Продолжение с фокусом на способы запроса согласия на cookies.
						


				include modules/work-main

			include modules/footer

