doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.page-caption__invert.indent-block__full
					.container 
						h1 Поисковое продвижение сайта детского медицинского центра
				.seo-case
					.seo-case__image.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						img(src="assets/images/seo-1.png", alt="")
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 О компании
								.col-md-6.col-12
									p Центр здоровья «Детство» - одна из лучших детских медицинских клиник г. Твери, где современные научные технологии и передовые диагностические разработки сочетаются с врачебным профессионализмом, ответственностью и значительным опытом практической работы.
									p Сайт находится в продвижении с 2009 года. В сентябре 2020 года пересмотрели стратегию продвижения, направленную на увеличение прибыли клиента (заявок), а не стандартные SEO-параметры (позиции, трафик, конверсии).
					.seo-case__result.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-lg-6.col-12
									h2 Результат:
								.col-lg-6.col-12
									.row 
										.col-md-6.col-12
											.work-odds__item
												strong +75%
												p рост трафика на сайте с  большим входящим объемом
										.col-md-6.col-12
											.work-odds__item
												strong x2
												p увеличили число заявок от новых клиентов
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Цели:
								.col-md-6.col-12
									p Клиент платит абонентскую плату, а также оплачивает заявки (процент от продаж) от новых клиентов из поисковых систем по таблице пороговой стоимости количества заявок. Если это количество превышает базовое значение. 
									p Важно: новыми считаются клиенты, которые ни разу не заказывали услуги ранее.
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Задачи:
								.col-md-6.col-12
									ol.list 
										li Улучшить видимость сайта в поисковых системах.
										li Увеличить объемы поискового трафика на сайт по запросам, связанным с доставкой.
					.seo-case__stages.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							h2 Этапы работ:
							.seo-case__stages_block
								.row 
									.col-lg-5.col-md-6.col-12
										.seo-case__stages_caption
											p.caption Первая неделя
											p Чтобы не откладывать первичный эффект продвижения, сразу провели технический аудит сайта, по результатам которого:	
									.col-lg-7.col-md-6.col-12
										.seo-case__stages_item 
											p.caption Закрыли от индексации
											p Более 75000 страниц, которые создавали технические дубли и «мусорные страницы».
										.seo-case__stages_item 
											p.caption Устранили дубликаты
											p Более 500 полных дубликатов и более 300 неполных дубликатов.
										.seo-case__stages_item 
											p.caption Удалили пустые страницы
											p Скорректировали несколько десятков пустых страниц.
										.seo-case__stages_item 
											p.caption Исправили битые ссылки
											p Поставили задачу на исправление 2000 битых ссылок.
										p.info А так же устранили прочие мелкие недочеты и улучшили представление в выдаче поисковых систем (быстрые ссылки и сниппеты).
							.seo-case__stages_block
								.row 
									.col-lg-5.col-md-6.col-12
										.seo-case__stages_caption
											p.caption Работа с сегментами
											p С учетом приоритетов по каждому сегменту сайта ежемесячно проводили работы по оптимизации:
									.col-lg-7.col-md-6.col-12
										.seo-case__stages_item 
											p.caption Обновление семантического ядра
											p Собиралось на основе Яндекс Метрики, текущих запросов в продвижении и сервиса Yandex Wordstat.
										.seo-case__stages_item 
											p.caption Распределение по страницам
											p Обновленное ядро распределялось по страницам сегмента.
										.seo-case__stages_item 
											p.caption Текстовая оптимизация
											p Корректировались заголовки, текстовый контент (при необходимости заказывались тексты у копирайтеров).
										.seo-case__stages_item 
											p.caption Новые страницы
											p Создавались ТЗ под создание новых страниц.
										p.info Сегменты в зависимости от объёма прорабатывались по 1-3 в месяц. К каждому был индивидуальный подход.
					.seo-case__dynamics.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							h2 Динамика трафика
							.seo-case__dynamics_graph.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
								p.date Яндекс
								.row 
									.col-lg-8.col-12
										img(src="assets/images/graph-1.png", alt="")
									.col-lg-4.col-12
										p.caption Сентябрь 2018-2020
										p Для отслеживание трафика берем данные за сентябрь с 2018 по 2020 года без бренда !~(русплитка|rusplitka|рус плитка)
										p Как видно из графика, нам удалось не только восстановить трафик до "докризисного" состояния, но и значительно превысить прошлые показатели.
							.seo-case__dynamics_graph.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
								p.date Google
								.row 
									.col-lg-8.col-12
										img(src="assets/images/graph-1.png", alt="")
									.col-lg-4.col-12
										p.caption Трафик Google
										p Как видно из графика, нам удалось не только восстановить трафик до "докризисного" состояния, но и значительно превысить прошлые показатели.
							.seo-case__dynamics_text.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
								.row 
									.col-md-6.col-12
										p.caption Ежемесячный прирост новых клиентов увеличился почти в 2 раза
									.col-md-6.col-12
										p Например, количество заявок за январь 2020 г. составило 2120, а в январе 2020 г. -  уже 2800!
										p Важно! Это прирост только заявок от новых клиентов. Если клиент уже заказывал, то его заявка не учитывалась. А этот показатель, как известно, намного сложнее увеличить, чем трафик.
							.seo-case__dynamics_graph-full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
								.designation
									.designation-item
										.circle(style="background:#FFCE79")
										p 2020 год
									.designation-item
										.circle(style="background:#FFA70D")
										p 2021 год
								.image
									img(src="assets/images/graph-2.png", alt="")
						
					.seo-case__reviews.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-4.col-12
									h2 Отзыв клиента:
								.col-md-8.col-12
									.reviews-block
										p «Компания "Альготек" благодарит компанию "Лоджиклауд" за првоедение эффективной рекламной кампании в сети Интернет. За год сотрудничества компании "Лоджиклауд" удалось увеличить поток входящих заявок к сайта на 15%. Компания зарекомендовала себя как надежный партнер, который умеет оперативно и качественно выполнять поставленные задачи. Также стоит отметить высокий уровень клиентоориентированности компании. Желаем вам и дальше столь же успешно достигать поставленных целей!»
										.reviews-block__info 
											.reviews-block__info_text 
												p Карелин Н. В.
												p Генеральный директор ООО "Альготек"
											.reviews-block__info_button 
												a.link(href="assets/images/sert-1.png" data-fancybox="" data-caption="Название") Оригинал письма
							.page-more.indent-block__full
								a.more(href="#") Следующий проект				

			include modules/footer

