doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.page-caption__invert.indent-block__full
					.container 
						p Мы делаем:
						h1 Поисковое продвижение
				.seo-case
					.seo-case__image.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							img(src="assets/images/seo-2.png", alt="")
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Мы знаем, как построить отношения с роботом
								.col-md-6.col-12
									p Наш главный принцип в работе - открытость и честность в отношении клиента. В процессе работы могут возникнуть непредвиденные ситуации, но мы всегда честны, какой бы ни была правда. В своих отчётах мы отражаем ситуацию такой, какая она есть на самом деле. Мы не даем гарантий, что ваш сайт через месяц будет в ТОП-10 и вы будете получать шквал звонков и заявок. Почему? Ни одна SEO-компания не знает точных алгоритмов поисковых систем, таким образом, если кто-то гарантирует, что через месяц ваш сайт будет в ТОП-10 поисковой выдачи, он лукавит. Если хотите больше информации по этому поводу, звоните или пишите -расскажем и проконсультируем. Мы можем гарантировать только качество своей работы. Хотя, конечно, в наших интересах вывести ваш сайт в ТОП-10 как можно скорее.
									p Чем больше зарабатываете вы - тем спокойнее нам. Нашу компетентность подтверждают проекты, выведенные в ТОП-10, и отзывы наших клиентов. Мы приложим все усилия, чтобы вы всегда оставались довольны работой с нами.
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Что лучше: SEO или контекстная реклама?
								.col-md-6.col-12
									p Главное отличие - во времени. Контекстная реклама дает быстрый целевой трафик. Но важно помнить: за каждого зашедшего на сайт пользователя вы платите. На графике ниже показана разница. Когда вы используете SEO, вы инвестируете одинаковую сумму каждый месяц, но количество пользователей, зашедших на сайт, постоянно растет. Когда вы используете контекстную рекламу, количество зашедших пользователей равно количеству потраченных денег.
									p Таким образом, используя SEO, вы каждый месяц снижаете стоимость зашедшего на сайт пользователя. Плюс SEO дает возможность охватить большее количество запросов. Как? Об этом мы можем рассказать по телефону или в переписке, иначе этот текст будет слишком длинным.
							.seo-case__company_graph
								.row 
									.col-lg-6.col-12
										p.caption SEO
										.items 
											.item-block 
												p.budget Бюджет
											.item-block 
												p Прибыль
										img(src="assets/images/graph-3.png", alt="")
									.col-lg-6.col-12
										p.caption Контекстная реклама
										.items 
											.item-block 
												p.budget Бюджет
											.item-block 
												p Прибыль
										img(src="assets/images/graph-3.png", alt="")
					.web-dev__odds.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-lg-4.col-12
									h2 Как мы будем <br/>продвигать ваш сайт?
								.col-lg-8.col-12
									ol.list
										li Первичная аналитика
											p Анализируем особенности тематики и конкурентов. Выявляем маркеры ранжирования. Выстраиваем общую стратегию продвижения.
										li Устранение ошибок на сайте
											p Проводим техническую оптимизацию сайта, устраняем имеющиеся на сайте проблемы.
										li Собираем семантическое ядро
											p Кластеризируем ключевые фразы, распределяем их по страницам. Составляем словарь сайта. Многие компании продвигают только запросы из списка, мы же пытаемся охватить всю тематику. Таким образом, мы дополнительно продвигаем сайт по околоцелевым и супернизкочастотным запросам.
										li Поисковая оптимизация сайта
											p Составляем и внедряем мета-теги, работаем с заголовками на страницах. Работаем с robots и sitemap, делаем перелинковку.
										li Работа с текстами
											p Проверяем и корректируем имеющиеся на сайте тексты. На основе анализа поисковой выдачи выводим формулу, используя которую, пишем новые тексты.
										li Дорабатываем сайт
											p Анализируется состав блоков и контент. После этого начинаем доработку продвигаемых страниц.
										li Работаем с каталогами
											p Регулярно регистрируем сайт в открытых интернет-каталогах и на порталах. Работа с карточками компании в google мой бизнес и яндекс справочник.
										li Сдаем подробную отчётность
											p Вы увидите информацию о выполненных в отчётный период работах, достигнутые результаты и планы на следующий месяц. Плюс таблицу с динамикой позиций по разным запросам.
					.web-dev__after.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Какие задачи <br/>мы решаем?
								.col-md-6.col-12
									ul.list
										li Поисковое продвижение интернет-магазинов
										li Поисковое продвижение «молодых» сайтов
										li Поисковое продвижение сайта по всей России
										li Проектирование нового сайта для поискового продвижения
										li Продвижение сайта в одном или нескольких регионах
										li Поисковое продвижение по Москве и Санкт-Петербургу
										li Поисковое продвижение информационных  порталов
										li Составление SEO-аудитов
					.regulations.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							h2 Наши правила работы
							ol.list 
								li Говорим с клиентом на понятном ему языке
									p При общении с нами вам не придется гуглить термины и нанимать переводчика. Объясним всё просто и понятно, если нужно - покажем примеры. На крайний случай нарисуем и прибегнем к пантомиме. В любом случе постараемся, чтобы Вам было комфортно с нами работать.
								li Сдаем подробные отчёты без воды
									p В наших отчётах будет описание выполненных работ и их результаты, планы работ на следующий отчётный период и динамика позиций. Также там могут быть рекомендации и предложения.
								li Используем только «белые» методы в SEO
									p Проект не попадет под фильтры поисковых систем. Не закупаем ссылки.
					.prices.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							h2 Стоимость продвижения
							.row 
								.col-md-4.col-12
									.prices-block
										p Продвижение по Твери и области
										p.price от
											strong 10 000 
											sup руб./мес.
										ul 
											li Работа SEO специалиста
											li Написание текстов
											li Оплата сервисов для мониторинга позиций
											li Работа backend разработчика
											li Работа frontend разработчика
								.col-md-4.col-12
									.prices-block
										p Продвижение по Москве
										p.price от
											strong 20 000 
											sup руб./мес.
										ul 
											li Работа SEO специалиста
											li Написание текстов
											li Оплата сервисов для мониторинга позиций
											li Работа backend разработчика
											li Работа frontend разработчика
								.col-md-4.col-12
									.prices-block
										p Продвижение по России
										p.price от
											strong 50 000 
											sup руб./мес.
										ul 
											li Работа SEO специалиста
											li Написание текстов
											li Оплата сервисов для мониторинга позиций
											li Работа backend разработчика
											li Работа frontend разработчика
					include modules/projects-seo
					include modules/clients
					.container
						include modules/reviews
					include modules/faq					
					
			include modules/footer

