doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.solutions-text
					.solutions-text__caption 
						.container 
							.solutions-block__text_category 
								p.category Стандарт 
								p.category Малый Бизнес 
								p.category Бизнес
							h1 Готовое решение «Logicloud: Здоровье»
						.solutions-text__caption_info 
							.container 
								.solutions-text__caption_info_flex
									p.price 50 000 
										sup руб.
									a.link(href="#") Купить решение
						.container 
							.solutions-text__caption_desc
								p Готовое решение «Logicloud: Здоровье» подойдёт для клиник, стоматологий и других медицинских учреждений. Мы создали и запустили ряд успешных проектов в тематике медицины, этот опыт лёг в основу данного решения.
								a.demo(href="#") Онлайн-демо
									img(src="assets/images/arrow-yellow.svg", alt="")
					.solutions-text__content.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							img(src="assets/images/sol-1.png", alt="")
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Описание
								.col-md-6.col-12
									p Готовое решение «Logicloud: Здоровье» подойдёт для клиник, стоматологий и других медицинских учреждений. Мы создали и запустили ряд успешных проектов в тематике медицины, этот опыт лёг в основу данного решения.
									p Вы без проблем сможете создать ваш сайт на базе нашего решения. Мы имеем большой опыт работы с готовыми решениями и при разработке старались делать наш продукт удобным. Все необходимые разделы уже готовы. Вам останется только добавить нужную информацию.
					.seo-case__company.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
						.container 
							.row 
								.col-md-6.col-12
									h2 Возможности
								.col-md-6.col-12
									ul.list 
										li Версия для слабовидящих создана в соответствии с требованиями законодательства. 
										li Сайт адаптирован под использование на смартфонах и планшетах.
										li Удобная форма on-line записи поможет вашим пользователям записаться к нужному специалисту в удобное время и снимет нагрузку с администраторов.
										li На сайте предусмотрены формы обратной связи для приёма обращений от пользователей.
										li Удобный раздел с услугами позволит разместить информацию максимально комфортно и понятно.
										li Вы сможете создать отдельную страницу для каждого врача и разместить там подробную информацию. 
										li Для получения обратной связи от пользователей в шаблоне предусмотрены разделы «Отзывы» и «Вопрос ответ». 
										li Широкие возможности для доработок. Мы создали решение на базе стандартных компонентов 1С-Битрикс. У вас не возникнет проблем с доработкой решения.
					.solutions-text__images.indent-block__full.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in") 
						.container 
							img(src="assets/images/sol-2.png", alt="")
							.grid
								.grid-item
									img(src="assets/images/sol-3.png", alt="")
								.grid-item
									img(src="assets/images/sol-4.png", alt="")
								.grid-item
									img(src="assets/images/sol-5.png", alt="")
								.grid-item
									img(src="assets/images/sol-6.png", alt="")
								
			include modules/footer

