doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.page-caption__invert.indent-block__full
					.container 
						h1 Готовые решения для 1С-Битрикс						
				
				.solutions.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")
					.container
						.row 
							.col-lg-6.col-12
								.solutions-block 
									.solutions-block__image 
										img(src="assets/images/solutions-1.png", alt="")
										a.demo(href="#") Онлайн-демо
											img(src="assets/images/arr-circle.svg", alt="")
									.solutions-block__text 
										.solutions-block__text_category 
											p.category Стандарт 
											p.category Малый Бизнес 
											p.category Бизнес 
										.solutions-block__text_block 
											a.link(href="#") Готовое решение «Logicloud: Здоровье»
											p.price 14 990 руб.
										p Готовое решение «Logicloud: Здоровье» подойдёт для клиник, стоматологий и других медицинских учреждений. Мы создали и запустили ряд успешных проектов в тематике медицины, этот опыт лёг в основу данного решения.
							.col-lg-6.col-12
								.solutions-block 
									.solutions-block__image 
										img(src="assets/images/solutions-2.png", alt="")
										a.demo(href="#") Онлайн-демо
											img(src="assets/images/arr-circle.svg", alt="")
									.solutions-block__text 
										.solutions-block__text_category 
											p.category Стандарт 
											p.category Малый Бизнес 
										.solutions-block__text_block 
											a.link(href="#") Bloom
											p.price 14 990 руб.
										p Мы создали и запустили ряд успешных магазинов, и этот опыт лёг в основу данного решения.
							.col-lg-6.col-12
								.solutions-block 
									.solutions-block__image 
										img(src="assets/images/solutions-3.png", alt="")
										a.demo(href="#") Онлайн-демо
											img(src="assets/images/arr-circle.svg", alt="")
									.solutions-block__text 
										.solutions-block__text_category 
											p.category Стандарт 
											p.category Малый Бизнес 
											p.category Бизнес 
										.solutions-block__text_block 
											a.link(href="#") Корпоративный сайт
											p.price 14 990 руб.
										p Готовое решение «Logicloud: Здоровье» подойдёт для клиник, стоматологий и других медицинских учреждений. Мы создали и запустили ряд успешных проектов в тематике медицины, этот опыт лёг в основу данного решения.

			include modules/footer

