doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.container 
					.text-page 
						img(src="assets/images/text-1.png", alt="")
						h1 Исследование про исследователей: что мы узнали.
						p В конце 2020 года мы провели опрос среди исследователей, чтобы лучше понять контекст их работы в компаниях и над проектами, как они взаимодействуют с коллегами и как оценивают уровень внедрения исследований в 
							a(href="#")  создание продуктов.
						p Нам было интересно увидеть картину по рынку и сравнить её с тем, как всё выглядит в Авито.
						h2 Формальности по опросу.
						p Мы сфокусировались на опыте исследователей — UX, продуктовых или маркетинговых — и сервис-дизайнеров.
						p Ответы собирали с 23.12.20 по 15.01.2021. Всего анкету заполнил 251 человек. Кроме двух вопросов о месте работы и должности, остальные были необязательными, поэтому на них мы получили меньше ответов.
						h3 Что мы узнали о компаниях, в которых работают исследователи?
						p На вопросы этого блока отвечали только те, кто работает в продуктовых компаниях.
						p Большинство респондентов (41%) работает в крупных компаниях, где больше 2000 сотрудников.
						p Количество исследователей в компании показало большой разброс. В среднем в компаниях по 9 исследователей (медиана — 5, мода — 3). Разброс мы увидели и в количестве исследований в месяц, которое приходится на одного исследователя (медиана — 3 и мода — 2, почти треть респондентов).
						p Для сравнения, в Авито сейчас работают 5 исследователей и более 40 продакт-менеджеров. Мы хотим уменьшить нагрузку на каждого исследователя и расширяем команду, поэтому ищем ещё ребят. Ссылка на вакансию — в конце статьи.
						p Большинство исследователей (55%) работают более чем с пятью заказчиками. На текущий момент в Авито примерно такая же ситуация: на каждого исследователя приходится от 4 до 8 команд внутри продуктового кластера. Мы поняли, что такое соотношение не позволяет исследователю уделять достаточное внимание и продукту, и работе над задачами, поэтому пришли к решению, что на одного исследователя должно быть ровно 4 команды.
						.text-page__image
							img(src="assets/images/text-2.png", alt="")
							p По грейдам мы получили большую часть ответов от ведущих или старших (40%) и middle-исследователей (32%).
						h4 Сайд-проекты: да или нет?
						p Тех, кто работает в штате, мы спрашивали, берут ли они сторонние проекты на исследования в свободное от работы время. Оказалось, что большинство UX-исследователей не берут сторонние проекты (38%). Еще 13% готовы только консультировать, но не делать проекты руками. Оставшиеся 48% готовы временно поработать на внешних проектах, но 18% не успевает совмещать их с основной работой, а 13% не находят таких проектов и задач.
						p Эти данные совпадают с нашими результатами опроса в проекте «облачные исследователи». Там мы узнали, что 70% исследователей сейчас имеют постоянную занятость, но хотят и готовы попробовать себя на внешних проектах. Напомним, что для таких исследователей мы сделали сообщество, где публикуем проекты от разных компаний: Яндекс, Mail.ru, Авито, Сбер, Joom и пр. Если вы попали в группу «хочу», ждём вас в нашем сообществе.
						h5 Минутка благодарностей
						p Спасибо Тане Чернявской за программирование опроса и анализ данных, Мише Правдину за идею и подготовку вопросов, а также всем кто помогал с финальной анкетой и ее распространением: всей команде UXlab Авито, Даше Хлоповой, Алине Ермаковой, Наташе Спрогис, Диме Соловьеву, Анне Кон, Максиму Козлову и Мише Хананашвили.
						p В этом году проводили такой опрос впервые, поэтому будем рады обратной связи, которая поможет сделать его лучше в следующем.
						h6 Ссылки для исследователей
						ul 
							li Подробнее посмотреть результаты исследования.
							li Присоединиться к сообществу облачных исследователей.
							li Стать частью исследовательской команды Авито.
						h6 Нумерованный список
						ol 
							li Среди советов «куда пойти учиться» лидируют рекомендации найти стажировку/работу или реальный проект (36%), НИУ-ВШЭ (34%) и стать психологом/социологом в любом вузе (19%).
							li Большинство UX-исследователей хотят научиться работе с данными. Из топ-5 навыков, которые они хотели бы приобрести, 4 относятся к работе с количественными данными. 
							li Это анализ данных (15%), количественные исследования (12%), статистика (9%) и Python/R/SQL (8%). Также в топ-5 попало желание научиться проектированию интерфейсов (9%).

			include modules/footer

