doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.indent-block__full
					.container 
						h1 Мы делаем:
						p Разработка сайтов 
				.web-dev
					.web-dev__image.wow.animate__fadeInUp.animated(data-wow-duration="1s",  animation-timing-function="ease-in")  
						img(src="assets/images/web-1.png", alt="")
				include modules/web-services
				include modules/projects
				include modules/web-odds
				include modules/web-steps
				include modules/web-stages
				include modules/web-after
				include modules/clients
				.container
					include modules/reviews
				include modules/faq
			include modules/footer

