doctype html
html(lang="ru")
	include modules/head	

	body
		#cursor
		.wrapper 
			include modules/header

			main.main-section
				.page-caption.page-caption__invert.indent-block__full
					.container 
						p За прошедшие годы мы решили множество различных задач<br/> в сотрудничестве с нашими клиентами, что привело к заметным результатам.
						h1 Наши лучшие работы.
				include modules/works-blocks
				include modules/more-projects
				
			include modules/footer

